<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-controller="datePickerCtl">
    <div datepicker class="date-left" init-date="startTime" date-max-limit="endTime">
        <input type="text" ng-model="startTime" >
    </div>
    <span class="date-addon">至</span>
    <div datepicker class="date-right" init-date="endTime" date-min-limit="startTime">
        <input type="text" ng-model="endTime">
    </div>
    <span ng-click="changeTime('2016-03-09')">点我</span>
</div>
<script src="/statics/js/vendor.js" type="application/javascript"></script>
</body>
</html>